/* .App{
  font-family: Arial;
  background-color: #9fa877
} */

/* .plant {
  border: 2px solid slategray;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: #d3d3b7;
} */
.plants-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: stretch;
}
.plants-list-item{
  display: inline;
}

.plants-list-item:hover {
  padding: 5px;
}
.add-plant {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(180px, 1fr));
  align-items: stretch;
}

/* .plants-list-grid-container{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
} */

/* colours 

#9fa877 light green
#75652B green-brown
#1e1308 Dark Brown
#9e8f5e light brown
#d3d3b7 almost white brown
*/