.App{
  font-family: Arial;
  background-color: #9fa877
}
h1{
  background-color: #75652b;
  color: #d3d3b7;
}

.plant {
  border: 2px solid slategray;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: #d3d3b7;
}
.plant img {
  height: 400px;
  width: 200px;
  border: 2px solid slategray;
}

.plants-list {
  list-style: none;
}

/* colours 

#9fa877 light green
#75652B green-brown
#1e1308 Dark Brown
#9e8f5e light brown
#d3d3b7 almost white brown
*/